.header-top {
    display: flex;
    flex-direction: row;
}

.header-top-logo {
    margin-left: 10%;
}

.btn-custom-2 {
    border: 2px solid #6198C9;
    color: #6198C9;
}

.header-logo-image {
    width: 20%;
}

@media only screen and (max-width: 1200px) {
    .header-top {
        display: flex;
        flex-direction: column;
    }
    .header-top-logo {
        text-align: center !important;
        margin: auto;
    }
    .header-logo-image {
        width: 50%;
    }
    .header-top-account {
        margin: auto;
        padding-top: 15px;
    }
}