#background-video {
    position: fixed;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    #background-video {
        top: 2vh;
        width: auto;
        height: 100vh;
    }
}