.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.btn-custom-1 {
  background-color: #6198C9;
  color: #fff;
  border: 0px;
}

.container {
  display: inline-block;
  margin-bottom: 10%;
}

h1, h2, h3 {
  color: #6198C9;
}

.btn-custom-1:hover {
  color: #fff;
  font-size: 1.1rem;
}